<body class="background">
<div class="log-in">
  <form [formGroup]='form' (ngSubmit)='submitNumberOfBeehives()' class="form-text">
    <div class="form-holder">
      <div class="main">
        <label class="col-form-label">Number of Beehives</label>
        <input type='text' formControlName='nrBeehives' class="input-group"/>
        <p></p>
        <div>
          <p></p>
          <button type='submit' [disabled]='!this.form.valid' class="btn-primary">
            Submit
          </button>
        </div>
      </div>
    </div>
  </form>

  <p></p>

  <table *ngIf="isCallSuccess" class="table">
    <thead>
    <tr>
      <th class="table-info" *ngFor="let head of headElements" scope="col">{{head}} </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let beehive of beehives">
      <td>{{beehive.id}}</td>
      <td>{{beehive.weight}}</td>
      <td>{{beehive.temperature}}</td>
      <td>{{beehive.populationNr}}</td>
      <td>{{beehive.activityType}}</td>
    </tr>
    </tbody>
  </table>

</div>
</body>
