<body>
<div *ngIf="noNotifications" class="alert-light">
  <p class="alert-light">You have no unread notifications! :)</p>
</div>
<table *ngIf="!noNotifications" class="table">
  <thead>
  <tr>
    <th class="table-info" *ngFor="let head of headElements" scope="col">{{head}} </th>
  </tr>
  </thead>
  <tbody class="">
  <tr *ngFor="let notification of notifications">
    <td>
      <div *ngIf="isCritical(notification.notificationType)" class="table-danger">
        {{notification.notificationType}}
      </div>
      <div *ngIf="isWarning(notification.notificationType)" class="table-warning">
        {{notification.notificationType}}
      </div>
      <div *ngIf="isInfo(notification.notificationType)" class="table-info">
        {{notification.notificationType}}
      </div>
    </td>

    <td>{{notification.message}}</td>

    <td>{{notification.dateTime | date}}</td>
  </tr>
  </tbody>
</table>
</body>
